$body-bg-color: #fff !default;
$body-size: 16px !default;
$body-color: $c-dark !default;
$line-height: 1.5 !default;
$font-family: Arial, Helvetica, sans-serif;

body {
  font-size: 1rem;
  color: $body-color;
  font-family: $font-family;
  line-height: $line-height;
}

a {
  color: $c-blue;
  text-decoration: none;
  &:hover {
    color: $c-deepBlue;
  }
}

.meta {
  color: $c-gray;
  font-size: .8rem;
}
