<div id="btnExample" class="example">
  <h1 class="title">按钮</h1>
  <div class="desc">
    <p>按钮组件，基础类名为<span class="keyword">btn</span></p>
    <p>扩展类名
      <span class="keyword">green</span>
      <span class="keyword">red</span>
      <span class="keyword">blue</span>
      <span class="keyword">yellow</span>
      <span class="keyword">outline</span>
    </p>
  </div>
  <div class="result">
    <a class="btn small">小普通按钮</a>
    <a class="btn">普通按钮</a>
    <a class="btn large">大普通按钮</a>
    <a class="btn text">文本按钮</a>
    <a class="btn green">绿色按钮</a>
    <a class="btn red">红色按钮</a>
    <a class="btn blue">蓝色按钮</a>
    <a class="btn yellow">黄色按钮</a>
    <a class="btn green outline">绿色按钮</a>
    <a class="btn red outline">红色按钮</a>
    <a class="btn blue outline">蓝色按钮</a>
    <a class="btn yellow outline">黄色按钮</a>
  </div>
  <div class="code-wrap">
    <div id="btnCode" class="code">
      <div class="operation">
        <a class="btn snnipet" data-snnipet>
          <i class="iconfont">&#xe615;</i>
        </a>
        <a class="btn copy" data-copy>
          <i class="iconfont">&#xe628;</i>
        </a>
      </div>
      <pre>
        <code class="html">
          <a class="btn small">小普通按钮</a>
          <a class="btn">普通按钮</a>
          <a class="btn large">大普通按钮</a>
          <a class="btn text">文本按钮</a>
          <a class="btn green">绿色按钮</a>
          <a class="btn red">红色按钮</a>
          <a class="btn blue">蓝色按钮</a>
          <a class="btn yellow">黄色按钮</a>
          <a class="btn green outline">绿色按钮</a>
          <a class="btn red outline">红色按钮</a>
          <a class="btn blue outline">蓝色按钮</a>
          <a class="btn yellow outline">黄色按钮</a>
        </code>
      </pre>
    </div>
    <a class="btn blue outline toggle" data-toggle="#btnCode" data-toggle-cb="toggleCodeCopyBtn">点击展开代码</a>
  </div>
</div>