<div id="horizontalExample" class="example">
  <h1 class="title">水平排列布局</h1>
  <div class="desc">
    <p>实现容器内子元素水平排列</p>
    <p>实现方式是把类名为<span class="keyword">item</span>的子元素设置为<span class="keyword">inline-block</span></p>
  </div>
  <div class="result layout">
    <div class="horizontal">
      <div class="item bg-green">green</div>
      <div class="item bg-blue">blue</div>
      <div class="item bg-yellow">yellow</div>
      <div class="item bg-red">red</div>
      <div class="item bg-gray">gray</div>
    </div>
  </div>
  <div class="code-wrap">
    <div id="horizontalCode" class="code">
      <div class="operation">
        <a class="btn snnipet" data-snnipet>
          <i class="iconfont">&#xe615;</i>
        </a>
        <a class="btn copy" data-copy>
          <i class="iconfont">&#xe628;</i>
        </a>
      </div>
      <pre>
        <code class="html">
          <div class="horizontal">
            <div class="item bg-green">green</div>
            <div class="item bg-blue">blue</div>
            <div class="item bg-yellow">yellow</div>
            <div class="item bg-red">red</div>
            <div class="item bg-gray">gray</div>
          </div>
        </code>
      </pre>
    </div>
    <a class="btn blue outline toggle" data-toggle="#horizontalCode" data-toggle-cb="toggleCodeCopyBtn">点击展开代码</a>
  </div>
</div>