<div id="floatExample" class="example">
  <h1 class="title">浮动布局</h1>
  <div class="desc">
    <p>实现元素向左向右浮动</p>
    <p>
      <span class="keyword">.float</span>会把元素设置为<span class="keyword">.clearfix</span>，即容器消除浮动
    </p>
    <p>
      <span class="keyword">.float-right</span>把元素设置为右浮动，
      <span class="keyword">.float-left</span>把元素设置为左浮动
    </p>
  </div>
  <div class="result layout">
    <div class="float">
      <div class="float-left item bg-green">green</div>
      <div class="float-right item bg-blue">blue</div>
    </div>
  </div>
  <div class="code-wrap">
    <div id="floatCode" class="code">
      <div class="operation">
        <a class="btn snnipet" data-snnipet>
          <i class="iconfont">&#xe615;</i>
        </a>
        <a class="btn copy" data-copy>
          <i class="iconfont">&#xe628;</i>
        </a>
      </div>
      <pre>
        <code class="html">
          <div class="float">
            <div class="float-left item bg-green">green</div>
            <div class="float-right item bg-blue">blue</div>
          </div>
        </code>
      </pre>
    </div>
    <a class="btn blue outline toggle" data-toggle="#floatCode" data-toggle-cb="toggleCodeCopyBtn">点击展开代码</a>
  </div>
</div>